{% extends 'sitevisitor/site_base.html' %}
{% block title %} 
SITE | HOME 
{% endblock %}


{% block content %}
{% if blogs %}
{% for blog in blogs %}


<div class="col-sm-5 text-center " style="margin-left: 250px;">
  <div class="card-body pb-0 px-0 px-md-4">
    <img
    src="{{ blog.product_image.url }}"  alt="{{blog.title}}"  width="800px">
<div class="card-body">
      <h5  class="card-title" >{{ blog.title }} </h5> 
      <p class="card-text">{{ blog.description }}</p>
    </div>
  </div>
</div>

  <!-- <div class="card" style="width: 18rem;">
    <img src="{{ blog.product_image.url }}" class="card-img-top" alt="{{blog.title}}" height="500px" style="margin-left: 500px;">
  </div>
    <div class="card-body">
      
      <h5 style="margin-left: 500px;" class="card-title">{{ blog.title }} </h5> 
      <p style="margin-left: 500px;"class="card-text">{{ blog.description }}</p>
    </div> -->
     
  {% endfor %}
  {% endif %}
  {% endblock %}