{% extends 'userpanel/user_base.html '%}
{% block title %}
MY BLOGS
{% endblock %}

{% block content %}

{% if blogs %}
{% for blog in blogs %}
 

<div class="col-sm-5 text-center " style="margin-left: 250px;">
  <div class="card-body pb-0 px-0 px-md-4">
    <img
    src="{{ blog.product_image.url }}"  alt="{{blog.title}}"  width="800px">
<div class="card-body">
      <h5  class="card-title" >{{ blog.title }} </h5> 
      <p class="card-text">{{ blog.description }}</p>
    </div>
  </div>
</div>
         
          
        
         
         
        <td><a href="{% url 'userpanel:edit_blog' blog.id %}" class = "btn btn-warning">Edit</a></td>
        <td><a href="{% url 'userpanel:delete_blog' blog.id %}" class = "btn btn-warning" onclick="return confirm('are you sure to delete this blog')">Delete</a></td>

      
    {% endfor %}

  {% endif %}
</div>

{% endblock %}

