{% extends 'adminpanel/admindashboard.html' %}
{% block title %}Reset Password
{% endblock %}
{% block content %}
<table>
    <thead>
        <tr>
            <th>User</th>
            <th>Comment</th>
            <th>Visible</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for comment in comments %}
        <tr>
            <td>{{ comment.user.username }}</td>
            <td>{{ comment.text }}</td>
            <td>{{ comment.is_visible|yesno:"Yes,No" }}</td>
            <td>
                <a href="{% url 'adminpanel:toggle_comment_visibility' comment.id %}">
                    {% if comment.is_visible %}
                        Hide
                    {% else %}
                        Show
                    {% endif %}
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

